* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}

button {
	width: 50px;
	height: 50px;
}

.wrapper  {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #E4E9ED;
	
}

.player {
	width: 250px;
	height: 300px;
	background: white;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	margin: 25px;
	
}

.title {
	text-align: center;
	color: rgb(7, 7, 59);
	font-size: 12px;
	margin-top: 10px;
}

.cover {
	display: flex;
	justify-content: center;	
	margin-top: 10px;
	
}

.cover__img {	
	width: 80px;
	height: 80px;
	border-radius: 10px;
	}
.cover__img:active {
			animation: rotateAnimation 3s linear infinite;
	}

.song {
	text-align: center;
	margin-top: 10px;
	color: rgb(7, 7, 59);
	
}

.progress__container {
	background: #E4E9E0;
	border-radius: 5px;
	
	height: 10px;
	margin: 25px;
	display: flex;
	align-items: center;
	cursor: pointer;
	

}	
	.progress {
		background: rgb(7, 7, 59);
		border-radius: 5px;
		height: 6px;
		/* width: 150px; */
		
	}

.buttons {
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
}
	.btn {
		cursor: pointer;
	}

.img__back{
	width: 40px;
	height: 40px;
}

.img__forward {
	width: 40px;
	height: 40px;
}

.img__src {
	width: 40px;
	height: 40px;
}

.list-player_item {
	cursor: pointer;
	margin: 10px;
	color: dodgerblue;
}

.list-player_item:hover {
	transition: .3 linear;
	color: burlywood;
}

@keyframes rotateAnimation {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}
